<div class="commentListItem">
    <div class="commentUser">
        <a title="See [DATA:USER_NAME]'s profile" href="#[DATA:USER_ID]"><img src="[DATA:USER_AVATAR]" /></a>
    </div>
    <div class="commentContent">
            <a class="userName left" title="See [DATA:USER_NAME]'s profile" href="#[DATA:USER_ID]">[DATA:USER_NAME]</a>
            <span class="date right" title="[DATA:COMMENT_PUBLICATION_DATE]">[DATA:COMMENT_PUBLICATION_DATE]</span><br/>
            <span>([DATA:COMMENT_ID]) - [DATA:COMMENT_TEXT]</span><br>
        [DATA:COMMENT_CHILDREN]
    </div>
</div>