    <body id="body">
        <!--MENU_BAR-->
        <div id="menuBar">
            <a><img src="resources/GDMlogo.png" /></a>
            <input type="button" value="logout"/>
             <a id='deleteButton' class="btn btn-default" onClick="document.getElementById('body').innerHTML = '';">
                <span class="glyphicon glyphicon-ruble" aria-hidden="true"> Fuck You :(</span>
            </a>
        </div>
    
        <div id="pageBody">
			<div id="pageHeader">
				<div id="pageLogo" class="left">
					<a href="index.php">
						<img style="display: inline-block;"src="resources/GDMlogo.png"/><span>GDM</span>
					</a>
				</div>
				<div id="pageMenuBar" class="right">
					<div class="dropDownContainer">
						<ul>
							<li class="firstItem"><a href="#">Shows</a></li>
							<li><a href="#">Project Amaran</a></li>
							<li><a href="#">Place Holder a</a></li>
							<li><a href="#">Place Holder m</a></li>
						</ul>
					</div>
					<div class="dropDownContainer">
						<ul>
							<li class="firstItem"><a href="#">Games</a></li>
							<li><a href="#">Place Holder d</a></li>
							<li><a href="#">Place Holder a</a></li>
							<li><a href="#">Place Holder m</a></li>
						</ul>
					</div>
					<div class="dropDownContainer">
						<ul>
							<li class="firstItem"><a href="#">Games</a></li>
							<li><a href="#">Place Holder d</a></li>
							<li><a href="#">Place Holder a</a></li>
							<li><a href="#">Place Holder m</a></li>
						</ul>
					</div>
					<div class="dropDownContainer right">
						<ul>
							<li class="firstItem right"><a href="#">Peeps</a></li>
							<li><a href="http://www.studio-otsu.fr/">OTSU</a></li>
							<li><a href="#">s</a></li>
							<li><a href="#">u</a></li>
						</ul>
					</div>
				</div>
			</div><br>
            <div id="pageContent">
                [BODY:CONTENT]
            </div>
        </div>
    
    </body>
</html>
