    <body id="body">
        <!--MENU_BAR-->
        <div id="menuBar">
            <a><img src="resources/GDMlogo.png" /></a>
            <input type="button" value="logout"/>
             <a id='deleteButton' class="btn btn-default" onClick="document.getElementById('body').innerHTML = '';">
                <span class="glyphicon glyphicon-ruble" aria-hidden="true"> Fuck You :(</span>
            </a>
        </div>
    
        <div id="pageBody">
	    <nav class="navbar navbar-default">
		    <div id="pageHeader" class="container-fluid">
	    		<div class="navbar-header" style="height: 40px !important">
			    <a class="navbar-brand" href="index.php" style="height: 40; padding: 10 !important">
				<img src="resources/GDMlogo.png"/>GDM
			    </a>
	    		</div>
		        <div id="pageMenuBar">
		            <div class="dropDownContainer">
		                <ul class="navbar navbar-nav">
		                    <li style="height: 40px !important"><a href="#">Shows</a></li>
		                    <li><a href="#">Project Amaran</a></li>
		                    <li><a href="#">Place Holder a</a></li>
		                    <li><a href="#">Place Holder m</a></li>
		                </ul>
		            </div>
		            <div class="dropDownContainer">
		                <ul class="navbar navbar-nav">
		                    <li style="height: 40px !important"><a href="#">Games</a></li>
		                    <li><a href="#">Place Holder d</a></li>
		                    <li><a href="#">Place Holder a</a></li>
		                    <li><a href="#">Place Holder m</a></li>
		                </ul>
		            </div>
		            <div class="dropDownContainer">
		                <ul class="navbar navbar-nav">
		                    <li style="height: 40px !important"><a href="#">Peeps</a></li>
		                    <li><a href="#">t</a></li>
		                    <li><a href="#">s</a></li>
		                    <li><a href="#">u</a></li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</nav>
            <div id="pageContent">
                [BODY:CONTENT]
            </div>
        </div>
    
    </body>
</html>
