<div>
    <table id="tabVideo" class="table table-hover">
        <thread>
            <tr>
                <th>Latest videos</th>
                <th>Series</th>
                <th>Podcasts and Vlogs</th>
                <th>Behind the Scenes</th>
                <th>Trailers</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <td>
                    <div>
                        <img />
                    </div>
                </td>
                <td>
                    <div>
                        <img />
                    </div>
                </td>
                <td>
                    <div>
                        <img />
                    </div>
                </td>
                <td>
                    <div>
                        <img />
                    </div>
                </td>
                <td>
                    <div>
                        <img />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>