* {
    transition : height 0.30s, background-color 0.30s;
    -webkit-transition : height 0.30s, background-color 0.30s;
    margin : 0px;
    padding : 0px;
}

body {
    background-color : darkgrey;
    padding : auto;
    text-align : center;
    min-height : 100%;
}

#pageBody {
    background-color : white;
    display : inline-block;
    width : 1000px;
}

#pageHeader {
	background-color : #0079BF;
    border: solid 1px black;
	border-radius : 4px;
	height: 40px;
}

#pageHeader .left {
	border-top-left-radius : 4px;
	border-bottom-left-radius : 4px;
}

#pageHeader .right {
	border-top-right-radius : 4px;
	border-bottom-right-radius : 4px;
}

#pageHeader a:link {
   color : black;
}

#pageHeader a:visited {
   color : black;
}

#pageHeader a:hover {
   color : black;
}

#pageHeader a:active {
   color : black;
}

#pageLogo {
	display : inline-block;
    float : left;
	line-height : 38px;
	font-size : 38px;
	/*border-radius : 4px;*/
}

#pageLogo:hover {
	background-color : lightyellow;
}

#pageLogo a {
	height : 38px;
}

#pageLogo span {
	height : 38px;
	float : right;
}

#pageLogo img {
	height : 38px;
	float : left;
}

#pageMenuBar {
    display : inline-block;
    float:right;
}

#pageContent {
    min-height : 1000px;
}

div.dropDownContainer {
    /*position : relative;*/
    height : 40px;
    width : 200px;
    display : inline-block;
}

div.dropDownContainer ul {
    overflow-y : visible;
    position : absolute;
    height : 0px;
    width : 200px;
    list-style : none;
}

div.dropDownContainer ul li {
    overflow-y : hidden;
    height : 0px;
    width : 200px;
    line-height : 40px;
    background-color : #0079BF;
}

li.firstItem {
    line-height : 38px !important;
    height : 38px !important;
    /*border: solid 1px black;
	border-radius : 4px;*/
}

div.dropDownContainer ul li:hover {
    background-color : lightyellow;
}

div.dropDownContainer:hover ul li {
    height : 40px;
}


/* style for episode */

div.episodeListItem {
	width : 500px;
	height : 100px;
	display : inline-block;
	background-color : orange;
}

div.episodeListItem img {
	width : 100px;
	height : 100px;
	display : inline-block;
	float : left;
}

div.episodeListItem div {
	width : 400px;
	height : 200px;
	display : inline-block;
	float : right;
}

div.episodeContent {
	width : 850px;
	display : inline-block;
	background-color : orange;
}

div.episodeContent video {
	width : 850px;
	height : 480px;
	display : inline-block;
}

div.episodeContent div {

}

div.showContent {
	width : 850px;
	display : inline-block;
	background-color : orange;
}

div.showContent video {
	width : 850px;
	height : 480px;
	display : inline-block;
}

div.showContent div {
}

