* {
    transition : height 0.30s, background-color 0.30s;
    -webkit-transition : height 0.30s, background-color 0.30s;
    margin : 0px;
    padding : 0px;
}

body {
    background-color : darkgrey;
    padding : auto;
    text-align : center;
    min-height : 100%;
}

#pageBody {
    background-color : lightgrey;
    display : inline-block;
    width : 900px;
}

#pageHeader {
    
}

#pageMenuBar {
    
}

#pageContent {
    min-height : 1000px;
}

div.dropDownContainer {
    position : relative;
    height : 40px;
    width : 200px;
    background-color : lightgreen;
    display : inline-block;
}

div.dropDownContainer div {
    position : absolute;
    width : 200px;
    height : 40px;
    line-height : 40px;
    background-color : lightgreen;
}

div.dropDownContainer ul {
    overflow-y : visible;
    top : 40px;
    position : absolute;
    height : 0px;
    width : 200px;
    list-style : none;
}

div.dropDownContainer ul li {
    overflow-y : hidden;
    height : 0px;
    width : 200px;
    background-color : lightgreen;
}

div.dropDownContainer:hover ul li {
    height : 40px;
    line-height : 40px;
}

div.dropDownContainer ul li:hover {
    background-color : lightyellow;
}

*.left {
    float : left;
    text-align : left;
}

*.left li, *.left div {
    text-align : left;
    padding-left : 10px;
}

*.right {
    float : right;
    text-align : right;
}

*.right li, *.right div {
    text-align : right;
    padding-right : 10px;
}

*.center {
    float : center;
    text-align : center;
}

*.center li, *.center div {
    text-align : center;
}


/* style for episode */

div.episodeListItem {
	width : 500px;
	height : 100px;
	display : inline-block;
	background-color : orange;
}

div.episodeListItem img {
	width : 100px;
	height : 100px;
	display : inline-block;
	float : left;
}

div.episodeListItem div {
	width : 400px;
	height : 200px;
	display : inline-block;
	float : right;
}